*{
    font-family: 'Montserrat', sans-serif;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.active-date-square {
    border: 2px solid blue!important;
}


.month{
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    align-content: flex-start;
    border: 1px solid gainsboro;
}

.month:nth-child(7n){
    color: rgba(194, 54, 22,1.0);
}
.previous {
    background-color: rgba(99, 110, 114,.1);
    opacity: 0.5;
}
.current {
    background-color: rgba(245, 246, 250,1.0)
}
.next {
    background-color: rgba(99, 110, 114,.1);
    color: gainsboro;
    opacity: 0.5;
}

.month-link {
    align-self: end;
    font-size: 10px;
}
